.home-carousel{
	height: 400px;
	overflow: hidden;
}
.home-carousel .carousel-item{
	height: 400px;
	overflow: hidden;
}
.home-carousel .carousel-item img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.home-about-image{
	height: 300px;
	overflow: hidden;
}
.home-about-image img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.home-about-text h2{

}
.home-about-text h2>span{
	color: var(--primary-color);
}
.home-about-text p{
	text-align: justify;
}
.home-about-text .treasure-global-btn p{
	margin-top: 15px;
}


.home-excellence-card h3{
	text-align: center;
	margin-bottom: 30px;
}/*
.home-excellence-card h3>span{
	color: var(--primary-color);
}*/
.home-excellence-image{
	height: 300px;
	overflow: hidden;
}
.home-excellence-image img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.home-excellence-text h5{
	text-transform: uppercase;
	color: var(--primary-color);
}
.home-excellence-text p{
	text-align: justify;
}
.home-excellence-text-1 h5{
	text-transform: uppercase;
	color: var(--primary-color);
	text-align: right;
}
.home-excellence-text-1 p{
	text-align-last: right;
	text-align: justify;
}